REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB_CELERY_BROKER=0
REDIS_DB_INFO_APP_STORAGE=1

CELERY_BROKER_URL=redis://${REDIS_HOST}:${REDIS_PORT}/${REDIS_DB_CELERY_BROKER}
DJANGO_SECRET_KEY= 
DJANGO_DEBUG=True